@import "../../style/Variable/var.scss";

.wrapper {
  text-align: center;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: $light-gray;
  word-break: break-all;

  .read_more {
    background-color: $btn-color;
    color: $light-gray;
    cursor: pointer;
    border-radius: 20px;
    padding: 6px;
    border: none;
  }
}
